

body{
    background-color: #EEEEEE;
    margin-top: 0;
}
.everything{
    background-color: white;
    
    
}

.Navbar-links{
    
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 2rem;
    margin-right: 2rem;
}
.navbar{

    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    margin-left: 2rem;
    margin-right: 2rem;
    
    
}
.logo{
    min-width: auto;
    margin-top: 2rem;

    
}
.Navbar-links ul{
    
    margin: 0;
    padding: 0;
    display: flex;
    
}
.Navbar-links li{
    list-style: none;
    margin-top: 2rem;
    
}
.Navbar-links li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 1rem;
    display: block;
}




.toggle-button{
    margin-top: 2rem;
    position: absolute;
    min-width: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
   
}
.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: rgb(18, 19, 19);
    border-radius: 10px;
}

.A1{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1.8fr 1.2fr;
    margin-left: 2rem;
    margin-right: 2rem;
    
    
    
}
.A1-1 H2{
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FF3998;
}
.A1-1 H1{

    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    
    color: #111111;

}

.A1-1 p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
   color: #555555;

}
.A1-1 button{
    width: 10rem;
    height: 5rem;
    border-radius: 100rem;
    padding: 1rem;
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(226, 72, 72, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #FF3998, #FF8139);
    background-origin: border-box;
    font-family: 'Inter';
    box-shadow: 2px 1000px 1px #fff inset;
    
}
.A1-1 button a{
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: #111111;
}


.A1-2 img{
    position:absolute;
  
}
.A2{
    background: linear-gradient(0.25turn, #fa7db9, #FF8139, #a9db35);
    padding: 1rem;
    margin-top: 5rem;
}
.A2-1{
    margin-left: 2rem;
    font-family: 'Inter';
    font-style: normal;
    margin-top: 5rem;
    display: block;
    align-items: flex-end;
    

}
.A2-1 p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%; 
    color: #111111;
    
}
.A3{
    margin: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

}
.A3-5{
    display: none;
}
.A4{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    display: block;
    align-items: flex-end;
    margin-left: 2rem;
    margin-right: 2rem;

}
.A4 p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #555555;
    


}
.A4-span{
    text-decoration: underline;
}
.A5{
    margin-left: 2rem;
    margin-right: 2rem; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 2rem;
    margin-bottom: 5rem;

}
.A5-1{
    display: inline;
    margin: 1rem auto;
    background-color: #EEEEEE;
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.25s;
}
.Inside-text{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    
  }


.eth{
    max-height: 1rem;
}

.Inside-text .first{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    color: #FF8139;
    text-align: left;
 
}

.Inside-text .second{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    color: #777777;
    text-align: right;
   
}
.Inside-text .third{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    text-decoration:#111111;
    text-align: left;
    word-break: break-all;
    color: #111111;

}

.Inside-text .fourth{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    text-align: right;
    color: #111111;
}
.Inside-text .fifth{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #777777;
    
}
.Inside-text .sixth{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #777777;
    text-align: right;
}


.border{
    border-bottom: solid  #EEEEEE;
    border-bottom-width:thick;

}
.A6{
    margin-top: 4rem;
    display: grid;
    min-height: 35rem;
   
    grid-template-columns: 1.8fr 1.2fr;

    margin-bottom: 0rem;
  
    
    
    
    
}
.A6-1 H2{
    margin-left: 2rem;
    margin-right: 2rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FF3998;
}
.A6-1 H1{

    margin-left: 2rem;
    margin-right: 2rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    
    color: #111111;

}

.A6-1 p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
   color: #555555;
   margin-left: 2rem;
   margin-right: 2rem;
}
.A6-1 button{
    margin-left: 2rem;
    width: 10rem;
    height: 5rem;
    border-radius: 100rem;
    padding: 1rem;
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(226, 72, 72, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #FF3998, #FF8139);
    background-origin: border-box;
    font-family: 'Inter';
    box-shadow: 2px 1000px 1px #fff inset;
}
.A6-1 button a{
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: #111111;
}


.A6-2 img{
    position:absolute;
    min-height: 35rem;
    
   
    
}

.A7{
    margin-left: 2rem;
    margin-right: 2rem;
    display: grid;
    margin-top: 2rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 200%;
    color: #555555;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
    'head head'
    'icons icons'
    'body body1'
    'body2 body3'
}
.A7-1{grid-area: head;
    
}

.icons{grid-area: icons;
    word-spacing: 30px;
    
    
}

.A7-2{
    grid-area: body;
}
.A7-3{
    grid-area: body1;
}
.A7-4{
    grid-area: body2;
}
.A7-5{grid-area: body3;

}

.A7 li{
    list-style-type: none;
    margin-left: -2.5rem;

    
}
.A8{
    display: grid;
    grid-template-columns: repeat(1 1fr);
    margin-left: 2rem;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    color: #999999;
}
.A8-2{
    
    display: none;

}



@media only screen and (min-width:620px){
    .Navbar-links{
        
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        margin-right: 2rem;
       

    }

    .Navbar-links ul{
        
        margin: 0;
        padding: 0;
        display: flex;
    
   
    }

    .toggle-button{
        
        display: none;
    }
    .signup{
        color:#FF3998 ! important; 
    }
    .A3-5{
        display: inline;
    }
    .A3{
        display: flex;
        justify-content: space-between;
        margin-left: 2rem;
        margin-right: 2rem;
    
    }
    .A1-1{
        width: 30rem;
        
    }

    .A2{
        margin-left: 2rem;
        margin-right: 2rem;

        border-radius: 1rem;
    }

    .A5{
        display: flex;
        justify-content: space-between;
    }

    .border{
        
        border-bottom: solid  #EEEEEE;
        border-bottom-width:thick;
        margin-right: 2rem;
        margin-left: 2rem;

    
        

    }
    .A6-1{
        width: 32rem;
    }

    .A7{
        margin-top: 4rem;

        grid-template-areas:
        'head body body1 body2 body3'
        'icons body body1 body2 body3'

    }
    .A7-2{
       margin-top: -3.5rem;
        display: flex;
        justify-content: end;
        margin-right: 4rem;
       
        
    }
    .A7-3{
        margin-top: -3.5rem;
        display: flex;
        justify-content: end;
        margin-right: 4rem;
    }

    .A7-4{
        margin-top: -3.5rem;
        display: flex;
        justify-content: end;
        margin-right: 4rem;
    }
    
    .A7-5{
        margin-top: -3.5rem;
        display: flex;
        justify-content: end;
        margin-right: 2rem;
    }

    .A8-2{
        margin-top: -2.5rem;
        margin-right: 2rem;
        display: flex;
        justify-content: end;

}


}


